$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 1.5rem;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 3px;
$hamburger-layer-color: #1f304c;
$hamburger-layer-border-radius: 1px;
$hamburger-hover-opacity: auto;
$hamburger-types: (collapse);

@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
}

.hamburger:hover {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: rgba(31, 48, 76, 0.7);
  }
}
